<link rel="stylesheet" href="/css/home.css">
<main id="main">
    <div class="to-do">
        <h1><%= title %></h1>
        <!--displaying tasks in to-do list-->
        <div class="display-tasks" id="tasks-list-container">
            <ul class="tasks">
                <% for(i of task_list){ %>
                    <li id="task-<% i._id %>">
                        <form action="/task-complete" method="POST">
                            <input type="checkbox" name="checkbox" onChange="this.form.submit()" value="<%= i._id %>" id="check" class="checkbox-complete">
                            <label class="container">
                                <%= i.task %>
                                <small>
                                    <a href="/task-delete/<%= i.id %>" class="delete delete-task-button"><i class="fas fa-times-circle"></i></a>
                                </small> 
                                <small>
                                    <p>Last Date - <%= i.lastDate %></p>
                                </small>
                                <small>
                                    <a href="/task-delete/<%= i.id %>" class="delete">Delete Task</a>
                                </small>
                            </label>
                        </form>
                    </li>
                <% } %>
            </ul>
        </div>
        <div>
            <!--creating tasks in to-do list-->
            <form class="form" action="/task-create" method="POST" id="new-task-form">
                <input type="text"  class="submit-form" name="task" placeholder="Enter task" required>
                <input type="date" class="submit-form" name="Last_Date">
                <input type="submit" class="submit-button" value="Create">
            </form>
        </div>
    </div>
    <div class="clock-main">
        <!-- code for clock and greeting-->
        <h1 id="clock"></h1>
        <h1 id="greeting"></h1>
    </div>
    <script src="/js/clock.js"></script>
</main>
<script src="/js/home_tasks.js"></script>